.vorici-container {
  display: block;
  overflow: visible;
  min-height: 400px;
  position: relative;
}

.vorici-container::after {
  content: "";
  display: block;
  clear: both;
}

.vorici-wrapper {
  max-width: 1000px;
  margin: calc(var(--spacing-unit) * 7) auto;
  background: var(--color-background-overlay);
  border-radius: 12px;
  border: 1px solid var(--color-border-secondary);
  padding: calc(var(--spacing-unit) * 5) calc(var(--spacing-unit) * 10);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding-top: 5px;
}

.vorici-title {
  margin-bottom: calc(var(--spacing-unit) * 10);
  text-align: center;
  font-size: 32px;
  color: var(--color-accent-poe2);
  white-space: pre-line;
  border-bottom: 1px solid var(--color-border-secondary);
  padding: 10px 0 10px 0;
}

.vorici-calculator {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: calc(var(--spacing-unit) * 5);
  margin-bottom: calc(var(--spacing-unit) * 10);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -15px;
}

.vorici-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px 20px;
  align-items: center;
}

.vorici-form>label {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-text-base);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.vorici-input-group {
  display: flex;
  gap: calc(var(--spacing-unit) * 2.5);
}

.vorici-input-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-direction: column;
}

.vorici-input-wrapper label {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-base);
}

.vorici-input {
  width: 105px;
  height: 30px;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--radius-small);
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-text-bright) !important;
  -moz-appearance: textfield;
}

.vorici-input::-webkit-outer-spin-button,
.vorici-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vorici-input:focus {
  outline: 2px solid #00ff99;
  box-shadow: none;
}

#socket,
#socket:focus {
  background-color: var(--color-border-secondary);
  border-color: #777;
  width: 105px;
}

.vorici-input.vorici-red,
.vorici-input.vorici-red:focus {
  background-color: rgba(220, 40, 40, 0.4);
  border-color: rgba(255, 80, 80, 0.6);
}

.vorici-input.vorici-green,
.vorici-input.vorici-green:focus {
  background-color: rgba(40, 220, 40, 0.4);
  border-color: rgba(80, 255, 80, 0.6);
}

.vorici-input.vorici-blue,
.vorici-input.vorici-blue:focus {
  background-color: rgba(40, 40, 220, 0.4);
  border-color: rgba(80, 80, 255, 0.6);
}

.vorici-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vorici-btn {
  width: 130px;
  height: 130px;
  font-size: 22px;
  border-radius: var(--radius-medium);
  background: #00ff99;
  color: var(--color-background-black);
  font-weight: bold;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vorici-table {
  width: 90%;
  max-width: 700px;
  margin: calc(var(--spacing-unit) * 10) auto 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  background: rgba(255, 255, 255, 0.1);
}

.vorici-table th {
  background-color: var(--color-background-surface);
  border: 1px solid var(--color-border-secondary);
  font-weight: 900;
  color: var(--color-text-bright);
  font-size: 20px;
  text-shadow: 1px 1px 2px var(--color-background-overlay);
  height: 50px;
}

.vorici-table td {
  border: 1px solid var(--color-border-secondary);
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: var(--color-text-base);
  font-family: var(--font-heading);
  font-size: 18px;
  text-shadow: 1px 1px 2px var(--color-background-surface);
}

tr.highlight td {
  background-color: rgba(0, 255, 153, 0.2) !important;
  font-weight: bold;
  color: var(--color-text-bright);
}